
.tropical{
  color: #7dc410;
  font-family: fantasy;
  

}
.popular{
  color: blue;
  font-style: italic;
}
.body{
  text-align: center;
  color: green;

}
.destination {
  color: red;
  font-family: calibri;

}
.story {
  text-decoration: underline;
  font-style: italic;
  font-weight: lighter;
}

img{
  float: left;
}
